.option {
  .title {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 500;
    color: var(--tg-theme-text-color);
  }

  .hint {
    font-size: 12px;
    margin-bottom: 3px;
    font-weight: 400;
    color: var(--tg-theme-hint-color);
  }

  .error {
    font-size: 12px;
    margin-bottom: 3px;
    font-weight: 400;
    color: red;
  }

  .option-elements {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;

    background-color: rgba(141, 141, 141, 0.16);
    width: fit-content;
    border-radius: 12px;
    padding: 5px;
  }
}